{% extends "base.html" %}
{% block page_content %}
{% load humanize %}
{% load user_tags %}
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Dashboard</h1>
          </div>
          <div class="row">
                <!-- DataTales Example -->
                <div class="col-lg-12 col-md-12 col-12 col-sm-12">

                    <div class="card">
                      <div class="card-header">
                        <h4>Jobs Applied For</h4>
                      </div>
                      <div class="card-body p-0">
                        <div class="table-responsive" style="padding: 20px !important;">
                          <table class="table table-striped" id="dataTable" width="100%" style="padding:50px !important;" cellspacing="0">
                            <thead>
                               <tr>
                                    <th>Job Type</th>
                                    <th>Name</th>
                                    <th>Activities</th>
                                    <th>Desc</th>
                                    <th>requirements</th>
                                    <th>Deadline</th>
                                   <th>Status</th>
                                </tr>
                            </thead>

                              <tbody>
                                {% for application in applications %}
                                    <tr>
                                        <td>{{application.job.jobType}}</td>
                                        <td>{{application.job.name}}</td>
                                        <td>{{application.job.activities}}</td>
                                         <td>{{application.job.description}}</td>
                                        <td>{{application.job.requirements}}</td>
                                        <td>{{application.job.deadline}}</td>
                                        <td>{{application.job.status}}</td>
                                    </tr>
                                {% endfor %}
                              </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                </div>
          </div>
        </section>
      </div>
{% endblock %}