{% extends "base.html" %}
{% block page_content %}
{% load crispy_forms_tags %}
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Dashboard</h1>
          </div>
          <div class="row">
                <!-- DataTales Example -->
                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                    <div class="card">
                      <div class="card-header">
                        <h4>Your Profile</h4>
                             {% for message in messages %}
                                <div class="alert alert-success">
                                    <a class="close" href="#" data-dismiss="alert">×</a>
                                    {{ message }}
                                </div>
                            {% endfor %}
                      </div>
                      <div class="card-body mt-5">
                             <form action="/updateprofile/{{request.user.id}}" method = "post" class="">
                                    {% csrf_token %}
                                   <div class="row">
                                        <div class="form-group col-4">
                                            <label>Full Names</label>
                                            <input  type="text" class="form-control" id="name" name="name" autofocus autofocus value="{{userProfile.name}}" >
                                        </div>
                                        <div class="form-group col-4">
                                            <label>Country</label>
                                            <input  type="text" class="form-control" id="country" name="country" autofocus  value="{{userProfile.country}}">
                                        </div>
                                        <div class="form-group col-4">
                                            <label>City</label>
                                            <input  type="text" class="form-control" id="city" name="city" autofocus value="{{userProfile.city}}">
                                        </div>
                                   </div>
                                   <div class="row">
                                        <div class="form-group col-4">
                                             <label>Phone Number</label>
                                             <input  type="text" class="form-control" id="phone" name="phone" autofocus value="{{userProfile.phone}}">
                                        </div>
                                         <div class="form-group col-4">
                                             <label>Years of Experience</label>
                                              <select id="yearOfExp" name="yearOfExp" class="form-control" >
                                               <option value="{{ useraProfile.yearOfExp.id }}">{{ userProfile.yearOfExp.name }}</option>
                                               {% for YearOfExp in years %}
                                                <option value="{{ YearOfExp.id }}">{{ YearOfExp.name }}</option>
                                                {% endfor %}
                                              </select>
                                         </div>
                                         <div class="form-group col-4">
                                             <label>Salary Scale</label>
                                              <select id="salaryScale" name="salaryScale" class="form-control" >
                                               <option value="{{ useraProfile.salaryScale.id }}">{{ userProfile.salaryScale.name }}</option>
                                               {% for salaryScale in salaryScales %}
                                                <option value="{{ salaryScale.id }}">{{ salaryScale.name }}</option>
                                                {% endfor %}
                                              </select>
                                         </div>
                                          <div class="form-group col-4">
                                              <label>Education Level</label>
                                              <select id="educationLevel" name="educationLevel" class="form-control" >
                                              <option value="{{ useraProfile.educationLevel.id }}">{{ userProfile.educationLevel.name }}</option>
                                               {% for EducationLevel in EducationLevels %}
                                                <option value="{{ EducationLevel.id }}">{{ EducationLevel.name }}</option>
                                               {% endfor %}
                                              </select>
                                          </div>
                                          <div class="form-group col-4">
                                              <label>Profession</label>
                                              <select id="jobType" name="jobType" class="form-control" >
                                               <option value="{{ useraProfile.jobType.id }}">{{ userProfile.jobType.name }}</option>
                                               {% for JobType in JobTypes %}
                                                <option value="{{ JobType.id }}">{{ JobType.name }}</option>
                                               {% endfor %}
                                              </select>
                                          </div>
                                    </div>

                                   <input type="submit"  class="btn btn-primary btn-lg btn-block col-2" value="Update">
                             </form>
                      </div>
                    </div>
                </div>
          </div>
        </section>
      </div>
{% endblock %}